html {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body {
  padding: 0;
  background-image: url("./butterfly.jpg");
  background-size: 150%;
  background-position: 0px -200px;
}
header {
  background-image: linear-gradient(to right, darkblue, cornflowerblue);
  text-align: center;
  color: white;
}
h1 {
  font-weight: lighter;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 40px;
}
h2 {
  margin: 20px;
  font-size: 25px;
}
aside {
  margin-top: 10px;
  padding-left: 20px;
  line-height: 10px;
  background-image: linear-gradient(rgba(14, 4, 4, 0.3), rgba(14, 3, 3, 0.9));
}
#search-heading {
  font-size: 25px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-top: 20px;
}
.search-history {
  flex-wrap: wrap;
  float: left;
  position: relative;
  box-sizing: border-box;
  border-radius: 5px;
  display: inline;
  margin-left: 20px;
  color: white;
}

#search {
  font-size: 24px;
  border-radius: 10px;
  margin: 10px;
}
#submit-button {
  font-size: 24px;
  background-image: linear-gradient(blue, cornflowerblue);
  color: white;
  border: 0px;
  border-radius: 10px;
  padding: 5px;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: lighter;
  width: 255px;
}
#submit-button:hover {
  background-image: linear-gradient(darkblue, cornflowerblue);
}
.current-forecast {
  flex-wrap: wrap;
  box-sizing: border-box;
  background-image: linear-gradient(rgba(14, 4, 4, 0.3), rgba(14, 3, 3, 0.9));
  border-radius: 5px;
  position: absolute;
  display: inline;
  margin: 10px;
  height: 340px;
  width: 1000px;
  color: white;
}
.current-city {
  box-sizing: border-box;
  display: block;
  margin: 0px;
  padding: 25px;
  font-size: 30px;
}
.info {
  font-size: 20px;
  line-height: 40px;
  margin-left: 25px;
  color: white;
}
.forecast-card {
  background-image: linear-gradient(
    rgba(191, 212, 251, 0.6),
    rgba(155, 143, 223, 0.6),
    rgba(61, 53, 165, 0.6),
    rgba(68, 0, 64, 0.6)
  );
  border-radius: 10px;
  height: 300px;
  width: 250px;
  margin: 2px;
}
.forecast-header {
  margin-top: 70px;
  margin-left: 25px;
  margin-bottom: 10px;
  font-size: 30px;
  text-shadow: black 2px 2px;
}
ul {
  list-style-type: none;
}
.card-info {
  color: white;
  line-height: 30px;
  margin: 10px;
  font-size: 25px;
}
.five-day-forecast {
  display: flex;
}
.info-card {
  font-size: 20px;
  text-shadow: black 2px 2px;
  line-height: 40px;
  margin-left: 10px;
  color: white;
}
#weather-icon-0,
#weather-icon-1,
#weather-icon-2,
#weather-icon-3,
#weather-icon-4,
#weather-icon-5 {
  margin-left: 20px;
}
.mostRecent {
  font-size: 25px;
  text-align: center;
  background-color: red;
  line-height: 30px;
  border-radius: 10px;
  padding-left: 10px;
}
.past-searches {
  list-style-type: none;
  padding: 10px;
  line-height: 30px;
}
.coordinates {
  display: none;
}
#five-day-submit {
  font-size: 24px;
  background-image: linear-gradient(rgb(4, 4, 253), cornflowerblue);
  color: white;
  border: 0px;
  border-radius: 10px;
  padding: 5px;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: lighter;
  width: 255px;
}
#five-day-submit:hover {
  background-image: linear-gradient(darkblue, cornflowerblue);
}
